
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0;
	padding: 0;
	background: #FFFFFF url(images/img01.jpg) repeat-x left top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #787878;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #F93D00;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #000000;
}

a:hover {
}

#wrapper {
	width: 900px;
	margin: 0 auto;
	padding: 0;
}

/* Header */

#header {
	width: 900px;
	height: 100px;
	margin: 0 auto;
}

/* Logo */

#logo {
	float: left;
	width: 900px;
	height: 100px;
	margin: 0;
	color: #FFFFFF;
}
#logo img{
  padding-top: 25px;
  padding-left: 10px;
  letter-spacing: -1px;
  float:left;
}
#logo h1, #logo p {
	margin: 10;
	padding: 10;
	text-transform: uppercase;
 }

#logo h1 {
	padding-top: 25px;
	padding-left: 80px;
	letter-spacing: -1px;
	font-size: 2.2em;
	font-weight: bold;
}

#logo p {
	margin-top: -6px;
	padding-left: 62px;
	font-size: 11px;
	color: #000000;
} 

#logo p a {
	color: #000000;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #D01010;
}

/* Search */

#search {
	float: right;
	width: 230px;
	padding: 0;
}

#search form {
	height: 41px;
	margin: 0;
	padding: 70px 0 0 0px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 210px;
	border: none;
	text-transform: lowercase;
	font: bold 1.2em Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}

#search-submit {
	display: none;
}

/* Menu */

#menu {
	width: 900px;
	height: 50px;
	margin: 0 auto;
	padding: 0;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
	height: 40px;
	padding-top: 10px;
	background: url(images/img04.gif) no-repeat left 16px;
}

#menu a {
	display: block;
	padding: 0px 17px;
	border: none;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
}

#menu a:hover, #menu .current_page_item a {
}

#menu .current_page_item a {
}

#menu a:hover {
	text-decoration: underline;
}

/* Page */

#page {
	width: 900px;
	margin: 0 auto;
	padding-top: 30px;
}

#page-bgtop {
}

#page-bgbtm {
}

/* Content */

#content {
	float: right;
	width: 635px;
}

.post {
	margin-bottom: 8px;
}

.post-bgtop {
}

.post-bgbtm {
}

.post .title {
	background: url(images/img03.jpg) no-repeat left top;
	height: 25px;
	padding: 7px 0 0 35px;
	font-size: 12px;
	color: #000000;
}

.post .title a {
	color: #000000;
}

.post .meta {
	padding-left: 20px;
	padding-bottom: 5px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: italic;
}

.post .entry {
	padding: 10px 20px 15px 20px;
	text-align: justify;
}

/* Sidebar */

#sidebar {
	float: left;
	width: 250px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	padding-bottom: 30px;
}

#sidebar li li {
	margin-left: 15px;
	margin-right: 15px;
	line-height: 35px;
	border-bottom: 1px dashed #D2D4C9;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar h2 {
	height: 25px;
	padding: 5px 0 0 35px;
	background: url(images/img02.jpg) no-repeat left top;
	font-size: 12px;
	color: #000000;
}

#sidebar p {
	margin: 0 15px;
	padding: 20px 0px;
	text-align: justify;
}

#sidebar a {
	color: #000000;
	border: none;
}

#sidebar a:hover {
	text-decoration: underline;
}

/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Footer */

#footer {
	width: 100%;
	background: #2C2C2C;
	height: 50px;
	margin: 0 auto;
	padding: 0px 0 15px 0;
	font-family: Arial, Helvetica, sans-serif;
}

#footer p {
	margin: 0;
	padding-top: 20px;
	line-height: normal;
	font-size: 9px;
	text-transform: uppercase;
	text-align: center;
}

#footer a {
	color: #969696;
}

th{
  color:#FFF;
  background-color: #D01010;
  font-weight: bold;
}
.callIn{
  background-color: #81F79F;
  color: #000;
}
.callOut{
  background-color: #F6CEF5;
  color: #000;
}
.phonein{
  background: url(images/callInMicro.gif) no-repeat;
  width: 25px;
  height: 25px;
}
.phoneout{
  background: url(images/callOutMicro.gif) no-repeat;
  width: 25px;
  height: 25px;
}

/* NOTIFICATIONS */
.notification {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin:  10px 0 20px 0;
	padding: 5px 20px;
}
.notification p, .notification ul {
	margin: 0;
	padding: 0;
	line-height: 1.5;
	text-indent: none;
}
.atencion {
    background: #fffbcc;
    border-color: #e6db55;
    color: #666452;
}
.informacion {
	background: #dbe3f0;
	border-color: #a2b4ee;
	color: #383b46;
}
.ok {
	background: #d5f0ce;
	border-color: #9adf8f;
	color: #556652;
}
.error {
	background-color: #f0cece;
	border-color:  #df8f8f;
	color:  #533232;
}
p.error {
	color: #ff3f3f;
	background-color: transparent;
	font-size: 75%;
}
.notification h1 {
	margin: 0;
}
.notification.small {
	margin-top: 7px;
	padding: 0 20px;
}
.notification.small p {
	margin: 0 !important;
	font-size: 85%;
	line-height: 2.5;
}